@import "styles/variables.css";
@import "styles/media.css";
.view {
    @media (--mobile) {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (--desktop) {
        &:global(.table) {
            position: relative;
            overflow-x: auto;
            flex-grow: 1;
            flex-basis: 0;
            &::after {
                content: "";
                position: sticky;
                display: block;
                margin-top: -84px;
                top: calc(100% - 84px);
                bottom: 0;
                height: 84px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20.29%, var(--color-white) 100%);
                opacity: 0.9;
                pointer-events: none;
                z-index: 1;
            }
        }
    }
    & .text {
        font-size: 14px;
        line-height: 20px;
    }
    .message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        line-height: 22px;
        white-space: nowrap;
        text-align: center;
        color: var(--color-light-gray);
    }
    & > img {
        max-width: 100%;
        //max-height: 550px;
        width: auto;
        height: auto;
    }
    & :global(.bk) {
        max-width: 100%;
        &-canvas {
            max-width: 100%;
            height: auto !important;
            &-events {
                @media (width < 1280px) {
                    display: none;
                }
            }
        }
    }
}
