@import "styles/variables.css";

.status {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    color: var(--color-dark-gray);
    & :global(.mdi.mdi-clock-outline) {
        color: var(--color-light-gray);
    }
    & :global(.mdi) {
        margin-left: 12px;
        margin-right: 4px;
    }
}