@import "styles/variables.css";
@import "styles/media.css";
:root {
    --colum-size: 255px;
}
.list {

}
.header {
    @media (--desktop) {
        display: flex;
        align-items: center;
    }
}
.title {
    color: var(--color-dark-gray);
    @media (--mobile) {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }
    @media (--desktop) {
        flex-grow: 1;
        min-width: 0;
        flex-basis: 0;
        font-size: 24px;
        line-height: 28px;
    }
}
.headerSide {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    @media (--mobile) {
        margin-top: 16px;
    }
    @media (--desktop) {
        margin-left: 20px;
    }
}
.search {
    @media (--mobile) {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
    }
}
.uploadButton {
    margin-left: 12px;
    white-space: nowrap;
}
.controls {
    display: flex;
    align-items: center;
    margin-top: 13px;
}
.viewSwitcher {
    flex-shrink: 0;
}
.sorting {
    margin-left: 8px;
}
.sortingButton {
    color: var(--color-dark-gray);
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    transition: opacity .2s ease;
    outline: none;
    cursor: pointer;
    &:hover {
        opacity: .7;
    }
    & :global(.mdi) {
        margin-left: 4px;
    }
}
.message {
    margin-top: 16px;
    font-size: 14px;
    @media (--mobile) {
        line-height: 22px;
    }
    @media (--desktop) {
        line-height: 20px;
    }
}
.text {
    margin-top: 9px;
    font-size: 14px;
    line-height: 20px;
    & > a {
        transition: color .2s;
    }
    @media (--desktop) {

    }
}
.tabs {
    margin-top: 20px;
    flex-shrink: 0;
}
.tabs + .itemList {
    margin-top: -1px !important;
    border-top-left-radius: 0;
}

.itemList {
    margin-top: 20px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 40px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid rgb(233, 234, 238);
    min-height: 270px;
    @media (--mobile) {
        padding: 20px;
        min-height: 0;
        grid-template-columns: repeat(auto-fill, minmax(var(--colum-size), 1fr));
    }
    @media (--desktop) {
        grid-template-columns: repeat(auto-fill, var(--colum-size));
    }
}

.item {
    max-width: fit-content;
}
.loadingItem {
    height: 50px;
    max-width: 400px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: stacks-pulse 1.5s infinite;
}

.modal {
    & .description {
        font-size: 14px;
        line-height: 22px;
        @media (--mobile) {
            margin-top: 10px;
        }
        @media (--desktop) {
            margin-top: 20px;
        }
    }
    & .buttons {
        margin-top: 20px;
        display: flex;
        & .button {
            max-width: fit-content;
            &:nth-child(n+2) {
                margin-left: 12px;
            }
        }
    }
}
