@import "styles/variables.css";
@import "styles/media.css";
:root {
    --colum-size: 262px;
}
.list {

}
.header {
    display: flex;
    align-items: center;
}
.title {
    color: var(--color-dark-gray);
    @media (--mobile) {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }
    @media (--desktop) {
        font-size: 24px;
        line-height: 28px;
    }
}
.headerSide {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    margin-left: 20px;
}
.headerSideSection {
    margin-left: 12px;
    flex-shrink: 0;
}
.viewSwitcher {
    flex-shrink: 0;
    margin-left: 12px;
}
.message {
    font-size: 14px;
    @media (--mobile) {
        line-height: 22px;
    }
    @media (--desktop) {
        line-height: 20px;
    }
}
.text {
    margin-top: 9px;
    font-size: 14px;
    line-height: 20px;
    & > a {
        transition: color .2s;
    }
    @media (--desktop) {

    }
}
.itemList {
    margin-top: 20px;
    display: grid;
    &:global(.list) {
        row-gap: 18px;
        @media (--mobile) {
            grid-template-columns: 1fr;
        }
    }
    &:global(.grid) {
        grid-gap: 40px;
        @media (--mobile) {
            grid-template-columns: repeat(auto-fill, minmax(var(--colum-size), 1fr));
        }
        @media (--desktop) {
            grid-template-columns: repeat(auto-fill, var(--colum-size));
        }
    }
}

.item {
    max-width: fit-content;
}

.modal {
    & .description {
        font-size: 14px;
        line-height: 22px;
        @media (--mobile) {
            margin-top: 10px;
        }
        @media (--desktop) {
            margin-top: 20px;
        }
    }
    & .buttons {
        margin-top: 20px;
        display: flex;
        & .button {
            max-width: fit-content;
            &:nth-child(n+2) {
                margin-left: 12px;
            }
        }
    }
}
