@import "styles/variables.css";
@import "styles/media.css";
:root {
    --mobile-colum-size: 280px;
    --colum-size: 262px;
}
.loader {
    margin-top: 30px;
    background-color: var(--color-white);
}
.text {
    height: 40px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    border-radius: 4px;
    animation: stacks-pulse 1.5s infinite;
}
.grid {
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
    @media (--mobile) {
        grid-template-columns: repeat(auto-fill, minmax(var(--mobile-colum-size), 1fr));
    }
    @media (--desktop) {
        grid-template-columns: repeat(auto-fill, var(--colum-size));
    }
}
.item {
    & .pic {
        background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
        border-radius: 4px;
        animation: stacks-pulse 1.5s infinite;
        &::before {
            content: "";
            display: block;
            @media (--mobile) {
                padding-top: 59%;
            }
            @media (--desktop) {
                padding-top: 174px;
            }
        }
    }
    & .section {
        margin-top: 10px;
        height: 24px;
        background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
        border-radius: 4px;
        animation: stacks-pulse 1.5s infinite;
    }
}
@keyframes stacks-pulse {
    0% {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .6;
    }
}


