@import "styles/variables.css";

.section {
    display: flex;
    align-items: center;
    & .progressBar {
        position: relative;
        width: 100px;
        height: 6px;
        background: rgba(180, 184, 199, .2);
        border-radius: 14px;
        & .progress {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: inherit;
            background: linear-gradient(89.33deg, #39D493 13.26%, #80E77E 86.99%);
            border-radius: inherit;
        }
    }
    & .time {
        margin-left: 4px;
        color: var(--color-dark-gray);
        opacity: 0.7;
        font-size: 12px;
        text-transform: lowercase;
    }
}