@import "styles/variables.css";

.upload {
    padding-left: 0;
    padding-right: 0;
    outline: none;
}
.content {
    margin-top: 20px;
}
.subtitle {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-dark-gray);
}
.field {
    margin-top: 8px;
    max-width: 300px;
}
.subtitle + .dragndrop {
    min-height: 76px;
    margin-top: 12px;
}
.dragndrop:nth-child(1) {
    height: 110px;
}
.buttons {
    display: flex;
}
.button {
    flex-shrink: 0;
    margin-top: 20px;
    min-width: 82px;
    &:nth-child(n+2) {
        margin-left: 12px;
    }
}