@import "styles/variables.css";
.tabs {
    display: flex;
    align-items: center;
}
.tab {
    position: relative;
    padding-bottom: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-light-gray);
    transition: color .2s;
    cursor: pointer;
    &:hover,
    &:global(.active) {
        color: var(--color-blue);
    }
    &:global(.active) {
        pointer-events: none;
        &::before {
            opacity: 1;
        }
    }
    &:nth-child(n+2) {
        margin-left: 16px;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        opacity: 0;
        background-color: currentColor;
    }
}
.soon {
    position: absolute;
    top: -6px;
    left: calc(100% + 2px);
    font-weight: 500;
    font-size: 8px;
    color: var(--color-green);
}
