@import "styles/variables.css";
.back {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-light-gray);
    transition: opacity .2s;
    @media (--desktop) {
        &:hover {
            opacity: .7;
        }
    }
    & > span {
        padding-right: 4px;
    }
}