@import "styles/variables.css";
.schedule {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    & .dropdown {
        margin-left: 4px;
        margin-right: 4px;
        &.runtime {
            margin-right: 12px;
        }
        & .dropdownButton {
            white-space: nowrap;
            outline: none;
            font-size: 14px;
            height: 16px;
            line-height: 16px;
            padding: 0;
        }
    }
    & .message {
        margin-left: 12px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s;
        &:global(.show) {
            opacity: 1;
        }
    }
}
