@import "styles/variables.css";
.logs {

}
.button {
    outline: none;
    padding: 0;
    border-bottom: 1px dashed currentColor !important;
    border-radius: 0 !important;
    height: 22px !important;
    line-height: 22px !important;
}
.text {
    position: relative;
    overflow: hidden;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    padding: 14px 16px 40px;
    background: rgba(180, 184, 199, 0.08);
    border-radius: 4px;
    box-sizing: border-box;
    transition: max-height .2s, padding .2s;
    &:not(:global(.open)) {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    & pre {
        overflow-y: auto;
        font-size: 13px;
        line-height: 18px;
        margin: 0;
        font-family: 'Roboto Mono', monospace;
    }
}
.label {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    bottom: 12px;
    font-size: 11px;
    line-height: 13px;
    color: rgba(48, 52, 64, .5);
    transform: translateX(-50%);
}