@import "styles/variables.css";

.dnd {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background: var(--color-white);
    transition: box-shadow .2s;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px dashed rgba(40, 71, 107, 0.3);
        border-radius: inherit;
        pointer-events: none;
    }
    &:global(.active) {
        box-shadow: 0 0 0 1px var(--color-blue) inset;
    }
    & > input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.fileWrapper {}
.file {
    display: flex;
    align-items: flex-start;
    min-height: 80px;
    & .fileExtend {
        font-weight: bold;
        flex-shrink: 0;
        width: 44px;
        height: 52px;
        font-size: 14px;
        line-height: 52px;
        text-align: center;
        color: var(--color-light-gray);
        text-transform: uppercase;
        background: rgba(180, 184, 199, 0.15);
        border-radius: 2px;
    }
    & .fileSection {
        margin-left: 10px;
    }
    & .fileName {
        font-size: 14px;
        line-height: 18px;
        color: var(--color-blue);
    }
    & .fileSize {
        font-size: 13px;
        line-height: 18px;
        color: var(--color-dark-gray);
        opacity: 0.6;
    }
    .fileRemove {
        flex-shrink: 0;
        margin-left: 10px;
        font-size: 14px;
        line-height: 14px;
        color: var(--color-light-gray);
        transition: color .2s;
        cursor: pointer;
        &:hover {
            color: var(--color-light-gray-hover);
        }
    }
}
.placeholder {
    font-size: 18px;
    line-height: 22px;
    color: var(--color-light-gray);
    text-align: center;
}
.button {
    margin-top: 16px;
}
.loading {
    font-size: 13px;
    line-height: 22px;
    color: rgba(48, 52, 64, 0.6);
}
.progressBar {
    width: 100%;
    max-width: 160px;
    height: 8px;
    background: rgba(180, 184, 199, 0.25);
    border-radius: 10px;
    margin-top: 6px;
}
.progress {
    height: inherit;
    border-radius: inherit;
    background-color: var(--color-light-blue);
    background-size: 12px 12px;
    background-image: linear-gradient(
            135deg,
            rgba(255, 255, 255, .3) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .3) 50%,
            rgba(255, 255, 255, .3) 75%,
            transparent 75%,
            transparent
    );

    animation: animate-stripes 1s linear infinite;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 24px 0;
    }
}
