@import "styles/variables.css";
@import "styles/media.css";
:root {
    --mobile-colum-size: 280px;
    --colum-size: 262px;
}
.loader {
    background-color: var(--color-white);
}
.title {
    width: 490px;
    height: 34px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: stacks-pulse 1.5s infinite;

}
.label {
    margin-top: 10px;
    width: 175px;
    height: 20px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: stacks-pulse 1.5s infinite;
}
.description {
    margin-top: 43px;
    width: 459px;
    height: 20px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: stacks-pulse 1.5s infinite;
}
.diagram {
    margin-top: 20px;
    width: 570px;
    height: 369px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: stacks-pulse 1.5s infinite;
}

@keyframes stacks-pulse {
    0% {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .6;
    }
}


