@import "styles/variables.css";
@import "styles/media.css";
:root {
    --icon-size: 34px;
    --top-line-height: 20px;
    --date-line-height: 16px
}
.item {
    position: relative;
    display: grid;
    grid-template-columns: var(--icon-size) 1fr;
    grid-template-rows: var(--top-line-height) var(--date-line-height);
    grid-row-gap: 2px;
    grid-column-gap: 10px;
    grid-template-areas:
        "icon top-line"
        "icon date-line";
    &:hover {
        .name {
            color: #507CD0;
        }
    }
    &:not(:hover) {
        .delete {
            visibility: hidden;
            opacity: 0;
            transition-delay: .4s, .8s;
        }
    }
    &:hover {
        .delete {

        }
    }
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: icon;
    border-radius: 4px;
    color: #86A6DD;
    background-color: rgba(134, 166, 221, .1);
}
.top {
    grid-area: top-line;
    display: flex;
    align-items: center;
    min-width: 0;
    & :global(.mdi) {
        flex-shrink: 0;
        margin-left: 4px;
        color: var(--color-dark-gray);
        opacity: .3;
    }
}
.name {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 0;
    font-size: 14px;
    line-height: var(--top-line-height);
    color: var(--color-dark-gray);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color .2s;
}
.permissions {
    margin-left: 6px;
}
.date {
    font-size: 12px;
    grid-area: date-line;
    line-height: var(--date-line-height);
    color: var(--color-light-gray);
}
.delete {
    position: absolute;
    top: calc(50% - 7px);
    right: calc(100% + 6px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: #507CD0;
    transition: opacity .3s, visibility .4s;
    &:not(:hover) {
        opacity: 0.3;
    }
}
