@import "styles/variables.css";
.checkbox {
    display: inline-block;
    & input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity .2s;
        appearance: none;
    }
    & > div {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    &:global(.disabled) {
        opacity: .5;
        pointer-events: none;
    }
    &:global(.left) {
        .toggle-label {
            &:global(.off) {
                order: 1;
            }
            &:global(.on) {
                order: 3;
            }
            & ~ .label {
                margin-left: 12px;
            }
        }
        & .wrapper {
            order: 2;
        }
        .label {
            order: 4;
            margin-left: 6px;
        }
    }
    &:global(.right) {
        .toggle-label {
            &:global(.off) {
                order: 2;
            }
            &:global(.on) {
                order: 4;
            }
            & ~ .label {
                margin-right: 12px;
            }
        }
        & .wrapper {
            order: 3;
        }
        .label {
            order: 1;
            margin-right: 6px;
        }
    }
    &:global(.checkbox) {
        & .wrapper {
            position: relative;
            width: 14px;
            height: 14px;
            border: 1px solid var(--color-light-gray);
            background-color: var(--color-white);
            box-sizing: border-box;
            border-radius: 2px;
            cursor: pointer;
        }
        & .mark {
            position: absolute;
            top: -1px;
            left: -1px;
            width: inherit;
            height: inherit;
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            color: var(--color-white);
            background-color: var(--color-light-blue);
            border-radius: inherit;
            transition: opacity .2s;
        }
        & input:not(:checked) {
            & ~ .wrapper {
                & .mark {
                    opacity: 0;
                }
            }
        }
        & input:not(:checked) {
            & ~ .wrapper {
                & .mark {
                    opacity: 0;
                }
            }
        }
    }
    &:global(.switcher) {
        & .wrapper {
            position: relative;
            width: 25px;
            height: 14px;
            background: rgba(180, 184, 199, .3);
            border-radius: 7px;
            cursor: pointer;
        }
        & .mark {
            position: absolute;
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            transition: transform .2s, background-color .2s;
            &::before {
                display: none;
            }
        }
        & input:checked {
            & ~ .wrapper {
                & .mark {
                    background-color: var(--color-light-blue);
                    transform: translateX(11px);
                }
            }
            & ~ .toggle-label {
                &:global(.off) {
                    color: var(--color-light-gray);
                }
            }
        }
        & input:not(:checked) {
            & ~ .wrapper {
                & .mark {
                    &:global(.toggle-color) {
                        background-color: var(--color-light-gray);
                    }
                    &:not(:global(.toggle-color)) {
                        background-color: var(--color-light-blue);
                    }
                }
            }
            & ~ .toggle-label {
                &:global(.on) {
                    color: var(--color-light-gray);
                }
            }
        }
    }
}
.toggle-label,
.label {
    font-size: 14px;
    line-height: 20px;
}
.toggle-label {
    transition: color .2s;
    &:global(.off) {
        margin-right: 6px;
    }
    &:global(.on) {
        margin-left: 6px;
    }
}
