@import "styles/media.css";

.header {
    display: flex;
    align-items: center;
    min-height: 30px;
    @media (--mobile) {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    @media (--desktop) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.logo {
    flex-shrink: 0;
    & > svg {
        max-width: 129px;
        height: auto;
        @media (--mobile) {
            max-width: 85px;
        }
    }
}
.buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.button {
    white-space: nowrap;
    width: auto !important;
    flex-shrink: 0;
    @media (--mobile) {
        height: 30px !important;
    }
}
