@import "styles/variables.css";
@import "styles/media.css";
:root {
    --sidebar-width: 250px;
}
.loader {
    @media (--desktop) {
        display: grid;
        grid-template-columns: var(--sidebar-width) 1fr;
        grid-template-rows: auto 1fr;
        grid-column-gap: 30px;
        grid-template-areas:
            "sidebar content";
    }
    & > * {
        min-height: 250px;
    }
}
.side {
    grid-area: sidebar;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: filter-pulse 1.5s infinite;
}
.content {
    grid-area: content;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: filter-pulse 1.5s infinite;
    @media (--mobile) {
        margin-top: 16px;
    }
}

@keyframes filter-pulse {
    0% {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .6;
    }
}


