@import "styles/variables.css";
@import "styles/media.css";
.loader {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: var(--color-white);
    & > * {
        margin-bottom: 20px;
        &:nth-last-child(n+2) {
            margin-right: 14px;
        }
    }
}
.item {
    width: 154px;
    height: 30px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: filter-pulse 1.5s infinite;
}
.button {
    width: 65px;
    height: 30px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: filter-pulse 1.5s infinite;
}

@keyframes filter-pulse {
    0% {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .6;
    }
}


