@import "styles/variables.css";
@import "styles/media.css";
.table {
    table {
        border-collapse: collapse;
        @media (--desktop) {
            min-width: 400px;
        }
        thead {
            tr {

            }
        }
        tbody {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        th,td {
            line-height: 20px;
            padding-left: 10px;
            padding-right: 10px;
            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(n+2) {
                text-align: right;
            }
        }
        th {
            font-weight: normal;
            padding-bottom: 1px;
            font-size: 12px;
            color: rgba(48, 52, 64, .6);
            background-color: var(--color-white);
            box-shadow: 0 -1px var(--color-light-gray) inset;
            @media (--desktop) {
                position: sticky;
                top: 0;
            }
        }
        td {
            width: 90px;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 14px;
            color: var(--color-dark-gray);
        }
    }
}
