@import "styles/variables.css";
@import "styles/media.css";
:root {
    --sidebar-width: 250px;
}

.details {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    @media (--mobile) {
        padding-bottom: 20px;
    }
}
.header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media (--mobile) {
        font-size: 16px;
        line-height: 18px;
    }
    @media (--desktop) {
        font-size: 24px;
        line-height: 28px;
    }
    & :global(.mdi) {
        margin-left: 5px;
        opacity: .3;
    }
}
.permissions {
    margin-left: 10px;
}
.sideHeader {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 10px;
}
.share {
    position: relative;
    top: 3px;
    margin-left: auto;
}
.dropdown {
    &-button {
        outline: none;
        height: 26px !important;
        line-height: 26px !important;
        padding-left: 6px;
        padding-right: 6px;
    }
}
.description {
    flex-grow: 1;
    min-width: 0;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark-gray);
    @media (--mobile) {
        font-size: 13px;
        line-height: 20px;
    }
    @media (--desktop) {
        font-size: 14px;
        line-height: 20px;
    }
    &:global(.bold) {
        font-weight: 500;
        @media (--mobile) {
            font-size: 14px;
        }
        @media (--desktop) {
            font-size: 16px;
        }
    }
    & > *:nth-child(1) {
        margin-top: 0;
    }
    & p {
        text-align: left;
    }
}
.label {
    display: inline-block;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(180, 184, 199, .7);
    background-color: rgba(80, 124, 208, .06);
    text-transform: lowercase;
    user-select: none;
    &:not(:hover) {
        & .label-tooltip {
            opacity: 0;
        }
    }
    &:hover {

    }
    &-tooltip {
        width: 270px;
        position: absolute;
        z-index: var(--dropdown-z-index);
        top: 60%;
        left: 80%;
        padding: 12px 19px 12px 10px;
        text-transform: none;
        font-size: 13px;
        line-height: 150%;
        color: var(--color-dark-gray);
        background: var(--color-white);
        box-sizing: border-box;
        box-shadow: 0 8px 24px rgba(31, 42, 81, .12);
        border-radius: 4px;
        pointer-events: none;
        transition: opacity .2s;
    }
}
.actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    min-width: fit-content;
    margin-left: 20px;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-dark-gray);
    & > * {
        margin-left: 2px;
        margin-right: 2px;
    }
    & a {
        transition: color .2s;
    }
    & .size {
        color: var(--color-light-gray);
    }
}
.revisions {
    margin-top: 8px;
    flex-shrink: 0;
}
.tabs {
    margin-top: 20px;
    flex-shrink: 0;
}
.tabs + .container {
    margin-top: -1px;
    border-top-left-radius: 0;
}
.container {
    flex-shrink: 0;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid rgb(233, 234, 238);
    @media (--mobile) {
        padding: 10px;
    }
    @media (--desktop) {
        padding: 20px;
        &.withSidebar {
            display: grid;
            grid-template-areas:
                "filters content"
                "filters logs"
            ;
            grid-template-columns: var(--sidebar-width) 1fr;
            grid-column-gap: 30px;
            & .filters {
                grid-area: filters;
                margin-right: 30px;
                padding: 12px 20px 20px;
                background-color: #F8F7F9;
            }
        }
    }
}
.filterLoader {
    grid-column: 1 / -1;
}
.filters + .attachment {
    margin-top: 20px;
}
.attachment {
    grid-area: content;
    min-width: 0;
}
.progress {
    grid-area: content;
    min-width: 0;
}
.emptyMessage {
    min-width: 0;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    font-size: 13px;
    line-height: 16px;
    color: rgba(48, 52, 64, 0.6);
    text-align: center;
}
.error {
    min-width: 0;
    grid-area: content;
    margin-top: 30px;
    .message {
        font-size: 14px;
        line-height: 17px;
        color: #AF4545;
    }

}
.logs {
    margin-top: 16px;
    grid-area: logs;
    & .logsButton {
        padding: 0 !important;
        outline: none;
        & :global(.mdi) {
            font-size: 14px;
            padding-left: 4px;
        }
    }
    & .logsExpand {
        overflow: hidden;
        transition: max-height .5s ease-out;
        &:not(:global(.open)) {
            max-height: 0;
        }
        &:global(.open) {
            max-height: 440px;
        }
    }
    & .fromAgo {
        padding-top: 16px;
        font-size: 13px;
        line-height: 16px;
        color: rgba(48, 52, 64, 0.5);
    }
    & .log {
        font-family: "Roboto Mono", monospace;
        margin-top: 6px;
        font-size: 13px;
        line-height: 18px;
        color: #303440;
        white-space: pre-wrap;
        overflow-y: auto;
        max-height: 412px;
    }
}
.readme {
    margin-top: 20px;
    flex-shrink: 0;
}
