@import "styles/variables.css";
:root {
    --textarea-normal-height: 140px;
    --textarea-small-height: 120px;
}
.field {
    position: relative;
    padding-bottom: 16px;
    &:global(.normal) {
        & .textarea {
            & > textarea {
                height: var(--textarea-normal-height);
                padding: 16px 17px;
            }
        }
    }
    &:global(.small) {
        & .textarea {
            & > textarea {
                height: var(--textarea-small-height);
                padding: 6px 3px;
            }
        }
    }
    &:global(.disabled) {
        opacity: .5;
    }
}
.label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-dark-gray);
    opacity: .7;
}
.textarea {
    display: flex;
    & > textarea {
        appearance: none;
        box-sizing: border-box;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
        font-size: 14px;
        line-height: 16px;
        font-family: inherit;
        color: var(--color-dark-gray);
        border: 1px solid var(--color-light-gray);
        border-radius: 4px;
        transition: border .2s;
        resize: none;
        &:global(.error) {
            border-color: var(--color-red);
        }
        &:not(:global(.error)) {
            &:focus {
                border-color: var(--color-blue);
            }
        }
        &[readonly] {
            border: 1px solid rgba(48, 52, 64, 0.07);
        }
    }
}
.error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--color-red);
    font-size: 12px;
    line-height: 14px;
}
