@import "styles/variables.css";
.list {
    display: flex;
    align-items: center;
    &:global(.details) {
        .avatar {
            &:nth-child(n+2) {
                margin-left: -10px;
            }
        }
    }
    &:global(.list) {
        .avatar {
            &:nth-child(n+2) {
                margin-left: -7px;
            }
        }
    }
    .count {
        margin-left: 2px;
        font-size: 12px;
        line-height: 16px;
        font-style: italic;
        color: var(--color-blue);
    }
}
.avatar {
    &:global(.owner) {
        box-shadow: 0 0 0 1px #F54097 inset;
    }
}
