@import "styles/variables.css";
.editor {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(180, 184, 199, 0.4);
    & :global {
        .token.atrule,
        .token.attr-value,
        .token.keyword {
            color: var(--color-blue);
        }
        .token.function,
        .token.class-name {
            color: var(--color-lilac);
        }
        .token.selector,
        .token.attr-name,
        .token.string,
        .token.char,
        .token.builtin,
        .token.inserted {
            color: var(--color-green);
        }
    }
    & textarea {
        outline: none;
    }
}
.scroll {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    flex-grow: 1;
    flex-basis: 100%;
}
.content {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}
.success {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(58, 189, 134, .06);
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    color: rgba(58, 189, 134, .7);
    transition: transform .2s;
    pointer-events: none;
    &:global(:not(.show)) {
        transform: translateY(-100%);
    }
}
.lineNumbers {
    white-space: pre;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 6px 8px;
    width: 40px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 150%;
    text-align: right;
    color: var(--color-light-gray);
    background-color: rgba(180, 184, 199, .15);
}