@import "styles/media.css";

.auth {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.wave {
    position: absolute;
    @media (--mobile) {
        top: 153px;
        left: 50%;
        min-width: 120%;
        width: 442px;
        padding-top: 176.2%;
        transform: translateX(-50%);
        background: url("./assets/wave-mobile.svg") center top no-repeat;
        background-size: contain;
    }
    @media (--desktop) {
        background: url("./assets/wave.svg") left center no-repeat;
        background-size: cover;
        width: 57.7%;
        top: -40px;
        bottom: -20px;
        right: 0;
    }
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    @media (--mobile) {
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
        padding: 13px 20px 10px;
        box-sizing: border-box;
        & > a {
            & > img {
                width: 85px;
                height: auto;
            }
        }
    }
    @media (--desktop) {
        padding: 40px 80px 20px;
    }
    & > a {
        transition: opacity .2s;
        &:hover {
            opacity: .8;
        }
    }
}
.modal {
    position: absolute;
    left: 47%;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    max-height: 65%;
    border-radius: 16px;
    box-shadow: 0 20px 54px rgba(41, 51, 108, 0.25);
    @media (--mobile) {
        display: none;
    }
}
.content {
    position: relative;
    flex-grow: 1;
    flex-basis: 100vh;
    min-height: fit-content;
    box-sizing: border-box;
    @media (--mobile) {
        width: 100%;
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
        overflow-y: auto;
        padding: 66px 20px 10px;
    }
    @media (--desktop) {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 80px;
        padding-top: 90px;
        padding-bottom: 80px;
    }
}
