@import "styles/variables.css";
@import "styles/media.css";

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (--mobile) {
        padding-top: 40px;
    }
    @media (--desktop) {
        padding-top: 180px;
    }
    svg {
        flex-shrink: 0;
        margin-bottom: 40px;
    }
}
.message,
.help {
    flex-shrink: 0;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark-gray);
    & a {
        transition: color .2s ease;
    }
}
