@import "styles/media.css";

:root {
    --sidebar-width: 230px;
    --compact-sidebar-width: 60px;
}

.layout {
    position: relative;
    @media (--mobile) {

    }
    @media (--desktop) {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        transition: padding-left .4s ease-out;
        grid-template-areas:
                "header"
                "main  ";
        padding-left: var(--sidebar-width);
        &.compactSidebar {
            padding-left: var(--compact-sidebar-width);
            & .sidebar {
                width: var(--compact-sidebar-width);
            }
            & .progress {
                left: var(--compact-sidebar-width);
            }
        }
        & .sidebar {
            width: var(--sidebar-width);
        }
    }
}
.sidebar {
    @media (--mobile) {

    }
    @media (--desktop) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        transition: width .4s ease-out;
    }
}
.progress {
    position: fixed;
    top: 0;
    right: 0;
    @media (--mobile) {
        left: 0;
    }
    @media (--desktop) {
        left: var(--sidebar-width);
    }
}
.header {
    @media (--mobile) {

    }
    @media (--desktop) {
        grid-area: header;
    }
}
.main {
    margin-top: 16px;
    @media (--mobile) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (--desktop) {
        grid-area: main;
        overflow-y: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
}
