:root {
    --color-orange: rgb(253, 126, 81);
    --color-translated-white: rgb(248, 249, 250);
    --color-blue: rgb(80, 124, 208);
    --color-blue-hover: rgb(71, 114, 197);
    --color-light-blue: rgb(134, 166, 221);
    --color-white: rgb(255, 255, 255);
    --color-dark-gray: rgb(48, 52, 64);
    --color-light-gray: rgb(180, 184, 199);
    --color-light-gray-hover: rgb(191, 193, 203);
    --color-red: rgb(235, 87, 87);
    --color-red-hover: rgb(177, 45, 45);
    --color-green: rgb(57, 213, 147);
    --color-green-hover: rgb(58, 189, 134);
    --color-button-green: rgb(58, 189, 134);
    --color-button-green-hover:rgb(57, 213, 147);
    --color-lilac: rgb(187, 119, 223);
    --color-lilac-hover: rgb(188, 120, 224);

    --sidebar-z-index: 9;
    --dropdown-z-index: 10;
    --modal-z-index: 11;
}
