@import "styles/variables.css";
@import "styles/media.css";

.header {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 9px 30px 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @media (--mobile) {
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.menu {
    flex-shrink: 0;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    font-size: 20px;
    text-align: center;
    color: var(--color-light-gray);
    transition: color .2s;
    &:hover {
        color: var(--color-light-gray-hover);
    }
    @media (--desktop) {
        display: none;
    }
}
.logo {
    flex-shrink: 0;
    & > img {
        display: block;
        width: 85px;
        height: auto;
    }
    @media (--desktop) {
        display: none;
    }
}
.back {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-light-gray);
    transition: opacity .2s;
    @media (--mobile) {
        order: 1;
        flex-grow: 1;
        flex-basis: 100%;
        margin-top: 20px;
    }
    @media (--desktop) {
        &:hover {
            opacity: .7;
        }
    }
    & > span {
        padding-right: 4px;
    }
}
.search {
    @media (--mobile) {
        display: none;
    }
}
.user {
    margin-left: auto;
}
.avatar {
    cursor: pointer;
}
