:global(.hljs) {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #FFFFFF
}

:global(.hljs), :global(.hljs-subst) {
    color: #434f54
}

:global(.hljs-keyword), :global(.hljs-attribute), :global(.hljs-selector-tag), :global(.hljs-doctag), :global(.hljs-name) {
    color: #00979D
}

:global(.hljs-built_in), :global(.hljs-literal), :global(.hljs-bullet), :global(.hljs-code), :global(.hljs-addition) {
    color: #D35400
}

:global(.hljs-regexp), :global(.hljs-symbol), :global(.hljs-variable), :global(.hljs-template-variable), :global(.hljs-link), :global(.hljs-selector-attr), :global(.hljs-selector-pseudo) {
    color: #00979D
}

:global(.hljs-type), :global(.hljs-string), :global(.hljs-selector-id), :global(.hljs-selector-class), :global(.hljs-quote), :global(.hljs-template-tag), :global(.hljs-deletion) {
    color: #005C5F
}

:global(.hljs-title), :global(.hljs-section) {
    color: #880000;
    font-weight: bold
}

:global(.hljs-comment) {
    color: rgba(149, 165, 166, 0.8)
}

:global(.hljs-meta-keyword) {
    color: #728E00
}

:global(.hljs-meta) {
    color: #434f54
}

:global(.hljs-emphasis) {
    font-style: italic
}

:global(.hljs-strong) {
    font-weight: bold
}

:global(.hljs-function) {
    color: #728E00
}

:global(.hljs-number) {
    color: #8A7B52
}
