@import "styles/variables.css";
@import "styles/media.css";
.filters {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: -20px;
}
.field {
    margin-bottom: 20px;
    padding-bottom: 0 !important;
    flex-wrap: wrap;
    &:nth-last-child(n+2) {
        margin-right: 14px;
    }
    &.slider {
        min-height: 30px;
    }
}
.button {

}
