@import "styles/variables.css";
@import "styles/media.css";
.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -20px;
    &:global(.with-select) {
        padding-top: 18px;
    }
}
.select {
    @media (--desktop) {
        margin-top: -16px;
    }
}
.field {
    margin-bottom: 20px;
    flex-wrap: wrap;
    &:nth-last-child(n+2) {
        margin-right: 14px;
    }
}
.button {
    padding-bottom: 16px;
}
