.spinner {
    transition: opacity .2s;
    &:not(:global(.show)) {
        opacity: 0;
        pointer-events: none;
        & > svg {
            animation-play-state: paused;
        }
    }
    &:global(.show) {
        opacity: 1;
    }
    & > svg {
        animation: spinner-animation 1.2s linear infinite;
    }
    &:global(.center) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
