@import "styles/media.css";
@import "styles/variables.css";
:root {
    --mobile-colum-size: 280px;
    --colum-size: 370px;
}
.list {

}
.title {
    color: var(--color-dark-gray);
    margin-bottom: 20px;
    @media (--mobile) {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }
    @media (--desktop) {
        font-size: 24px;
        line-height: 28px;
    }
    & span {
        margin-left: 6px;
        color: rgba(180, 184, 199, 0.8);
    }
}
.search {
    @media (--mobile) {
        display: none;
    }
}
.mobileSearch {
    margin-top: 7px;
    width: 100%;
    @media (--mobile) {
        & +.text {
            margin-top: 6px;
        }
    }
    @media (--desktop) {
        display: none;
    }
}
.grid {
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
    @media (--mobile) {
        grid-template-columns: repeat(auto-fill, minmax(var(--mobile-colum-size), 1fr));
    }
    @media (--desktop) {
        grid-template-columns: repeat(auto-fill, var(--colum-size));
    }
}
.add {
    position: relative;
    color: var(--color-blue-hover);
    border: 1px dashed;
    padding-top: 75%;
    border-radius: 4px;
    cursor: pointer;
    transition: color .2s ease, opacity .2s ease;
    &:hover {
        color: var(--color-blue-hover);
    }
    &:global(.disabled) {
        opacity: .5;
        pointer-events: none;
    }
}
.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 22px;
}
