@import "styles/variables.css";
@import "styles/media.css";
:root {
    --sidebar-width: 240px;
}

.details {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    @media (--mobile) {
        padding-bottom: 20px;
    }
}
.header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media (--mobile) {
        font-size: 16px;
        line-height: 18px;
    }
    @media (--desktop) {
        font-size: 24px;
        line-height: 28px;
    }
    & :global(.mdi) {
        margin-left: 5px;
        opacity: .3;
    }
}
.sideHeader {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 10px;
}
.dropdown {
    &-button {
        outline: none;
        height: 26px !important;
        line-height: 26px !important;
        padding-left: 6px;
        padding-right: 6px;
    }
}

.description {
    flex-grow: 1;
    min-width: 0;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark-gray);
    @media (--mobile) {
        font-size: 13px;
        line-height: 20px;
    }
    @media (--desktop) {
        font-size: 14px;
        line-height: 20px;
    }
    &:global(.bold) {
        font-weight: 500;
        @media (--mobile) {
            font-size: 14px;
        }
        @media (--desktop) {
            font-size: 16px;
        }
    }
    & > *:nth-child(1) {
        margin-top: 0;
    }
    & p {
        text-align: left;
    }
}
.label {
    display: inline-block;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(180, 184, 199, .7);
    background-color: rgba(80, 124, 208, .06);
    text-transform: lowercase;
    user-select: none;
    &:not(:hover) {
        & .label-tooltip {
            opacity: 0;
        }
    }
    &:hover {

    }
    &-tooltip {
        width: 270px;
        position: absolute;
        z-index: var(--dropdown-z-index);
        top: 60%;
        left: 80%;
        padding: 12px 19px 12px 10px;
        text-transform: none;
        font-size: 13px;
        line-height: 150%;
        color: var(--color-dark-gray);
        background: var(--color-white);
        box-sizing: border-box;
        box-shadow: 0 8px 24px rgba(31, 42, 81, .12);
        border-radius: 4px;
        pointer-events: none;
        transition: opacity .2s;
    }
}
.actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    min-width: fit-content;
    margin-left: 20px;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-dark-gray);
    & > * {
        margin-left: 2px;
        margin-right: 2px;
    }
    & a {
        transition: color .2s;
    }
    & .size {
        color: var(--color-light-gray);
    }
}
.revisions {
    margin-top: 8px;
    flex-shrink: 0;
}
.tabs {
    margin-top: 20px;
    flex-shrink: 0;
}
.tabs + .container {
    margin-top: -1px;
    border-top-left-radius: 0;
}
.container {
    flex: 1 1 0;
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgb(233, 234, 238);
}
.filters {

}
.attachment-head {
    display: flex;
    align-items: flex-start;
    @media (--mobile) {
        margin-top: 20px;
    }
    @media (--desktop) {
        margin-top: 24px;
    }
}
.attachment {
    margin-top: 16px;
}

.modal {
    & .description {
        font-size: 14px;
        line-height: 22px;
        @media (--mobile) {
            margin-top: 10px;
        }
        @media (--desktop) {
            margin-top: 20px;
        }
    }
    & .buttons {
        margin-top: 20px;
        display: flex;
        & .button {
            max-width: fit-content;
            &:nth-child(n+2) {
                margin-left: 12px;
            }
        }
    }
}
