@import "styles/variables.css";
@import "styles/media.css";

.loader {
    background-color: var(--color-white);
}
.title {
    max-width: 370px;
    height: 28px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: loader-pulsee 1.5s infinite;
}
.text {
    margin-top: 20px;
    max-width: 470px;
    height: 20px;
    background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
    animation: loader-pulsee 1.5s infinite;
}
.table {
    margin-top: 48px;
    max-width: 830px;
}
.item {
    height: 40px;
    &:nth-child(2n+1) {
        border-radius: 4px;
        background: linear-gradient(90deg, #F7F9FB -3.86%, #EEF1F3 34.95%, #FDFDFD 107.97%);
        animation: loader-pulsee 1.5s infinite;
    }
}


