@import "styles/variables.css";
@import "styles/media.css";
.modal {
    z-index: var(--modal-z-index);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(48, 52, 64, .3);
    transition: opacity .2s;
    &:not(:global(.show)) {
        opacity: 0;
        pointer-events: none;
    }
}
.dialog {
    position: relative;
    box-sizing: border-box;
    margin: auto;
    max-width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 8px 24px rgba(31, 42, 81, .12);
    border-radius: 4px;
    min-height: fit-content;
    &:global(.confirmation) {
        width: 432px;
        @media (--mobile) {
            padding: 30px 40px;
        }
        @media (--desktop) {
            padding: 40px 50px;
        }
    }
    &:global(.small) {
        width: 510px;
        @media (--mobile) {
            padding: 30px 40px;
        }
        @media (--desktop) {
            padding: 40px 50px;
        }
    }
    &:global(.big) {
        width: 869px;
        @media (--mobile) {
            padding: 30px 40px;
        }
        @media (--desktop) {
            padding: 40px 50px;
        }
    }
    & .close {
        position: absolute;
        width: 22px;
        height: 24px;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        color: var(--color-light-gray);
        transition: opacity .2s;
        cursor: pointer;;
        &:hover {
            opacity: .7;
        }
        @media (--mobile) {
            top: 12px;
            right: 12px;
        }
        @media (--desktop) {
            top: 40px;
            right: 50px;
        }
    }
}
.title {
    color: var(--color-dark-gray);
    @media (--mobile) {
        font-size: 16px;
        line-height: 18px;;
    }
    @media (--desktop) {
        font-size: 24px;
        line-height: 28px;
    }
}
